body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: lightgrey;
}

.small-blue-box{
    background-color: cornflowerblue;
    margin: 25px;
    width: 10%;
    height: 15%;
}

.box-2{
    background-color: white;
    height: 25%;
    width: auto;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: larger;
    word-wrap: normal;
    margin: auto;
    padding: 50px;
}

.box-3{
    height: 15%;
    width: auto;
    background-color: cornflowerblue;
}

.box-4{
    height: 15%;
    width: auto;
    background-color: rgb(40, 224, 200);
}

.box-5{
    height: 15%;
    width: auto;
    background-color: rgb(221, 235, 171);
}

.box-6{
    height: 15%;
    width: auto;
    background-color: rgb(252, 252, 95);
}